.sobre {
  margin: 2.5rem auto 2rem auto;
}

.sobre h2:first-of-type {
  margin-bottom: 1.4rem;
  font-family: "Lora", serif;
  font-size: 1.8rem;
}

.texto-sobre {
  text-align: center;
}

/************************************************************************/

/* DESKTOP */
@media (min-width: 1280px) {
  .texto-sobre div {
    min-height: 200px;
    background-color: yellow;
    border: 4px solid white;
  }
}

/************************************************************************/

/* TABLET */
@media (min-width: 768px) and (max-width: 1279px) {
  .texto-sobre div {
    min-height: 100px;
    background-color: yellow;
    border: 2px solid white;
  }
  
}

/************************************************************************/
/* SMARTPHONE */
@media (min-width: 360px) and (max-width: 767px) {
  .texto-sobre div {
    min-height: 100px;
    background-color: yellow;
  }
  .texto-sobre div:first-of-type{
    margin-bottom: 0.8rem;
  }
}
