@charset "utf-8";
/* CSS Document */

/* tratando com o body*/
body{
	padding: 0;
	margin: 0;
}
/* fim do tratamento com o body */

/* Topo Menu */
.topo-menu{
	width: 100%;
	height: 14vh;
	background-color: #e6d569;
}
/* Fim topo menu */

/* Area do Menu */
.joia{
	background-color: #d7c966;
}
.imglogin{
	width: 5%;
	float: right;
	margin-right: 2%;
	
}
.imglogin2{
	width: 5%;
	float: right;
	margin-right: 5%;
	
}
.itens-menu{
	margin-left: 40%;

}
.nav-link{
	width: 100%;
}
.nav-link:hover{
	background-color: white;
	color: black;
}
/* Fim area do menu */

/* Area do Banner */
.banner{
	height: 50vh;
	width: 100%;
}
/* fim da area do banner */

/*Inicio rodapé */
.rodape{
	background: #e6d569;
	height: 14vh;
}
/*fim rodapé */
