.vitrini {
  margin: 2rem auto 2rem auto;
}

.vitrini h2:first-of-type {
  margin-bottom: 1.4rem;
  font-family: "Lora", serif;
  font-size: 1.8rem;
  color: #FFCD00;
}

.vitrini-item {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.vitrini-item img {
  width: 280px;
  height: 200px;
}


/************************************************************************/

/* DESKTOP */
@media (min-width: 1280px) {
  .vitrini-item {
    min-height: 150px;
  }
}

/************************************************************************/

/* TABLET */
@media (min-width: 768px) and (max-width: 1279px) {
  .vitrini-item {
    min-height: 100px;
    margin-bottom: 0.6rem;
  }
  .vitrina-item:last-of-type {
    margin-bottom: auto;
  }
}

/************************************************************************/
/* SMARTPHONE */
@media (min-width: 360px) and (max-width: 767px) {
  .vitrini-item {
    min-height: 100px;
    margin-bottom: 0.6rem;
  }
  .vitrina-item:last-of-type {
    margin-bottom: auto;
  }
}
